<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.SinCardMapper">
    <select id="selectSinCardLists" resultType="SinCard" parameterType="CommonSearch">
        select a.idx
        , a.title
        , a.price
        , a.contents
        , a.inday
        , b.title as category
        , c.title as subcategory
        from sincard a
        left join category b
        on a.category_idx = b.idx
        left join subcategory c
        on a.subcategory_idx = c.idx
        where 1=1
        and card_stat = '0'
        order by idx desc
    </select>

    <select id="getTotalPrice" resultType="Integer">
        --coalesce : NVL
        select coalesce( sum(price), 0)
        from sincard
        where card_stat = '0';
    </select>

    <insert id="insertSinCard" parameterType="SinCard">
        insert into sincard(
            title
            , price
            , inday
            <if test="contents != null">
            , contents
            </if>
            <if test="category != null">
            , category_idx
            </if>
            <if test="subcategory != null">
            , subcategory_idx
            </if>
            , card_stat
        ) values(
            #{title}
            , #{price}
            , #{inday}
            <if test="contents != null">
            , #{contents}
            </if>
            <if test="category != null">
            , (select idx from category where title = #{category})
            </if>
            <if test="subcategory != null">
            , (select idx from category where title = #{subcategory})
            </if>
            , '0'
        )
    </insert>

    <update id="delSincard" parameterType="SinCard">
        update sincard
        set card_stat = '1'
        where 1=1
            and idx = #{idx}
    </update>

    <select id="getMonthList" resultType="string">
        select a.month
        from(
            select extract(month from to_date(inday, 'yyyy-mm-dd')) as month
            from sincard
        ) as a
        group by a.month
    </select>

    <select id="getOneSinCard" resultType="SinCard">
        select a.idx
        , a.title
        , a.price
        , a.contents
        , a.inday
        , b.title as category
        , c.title as subcategory
        from sincard a
        left join category b
        on a.category_idx = b.idx
        left join subcategory c
        on a.subcategory_idx = c.idx
        where 1=1
        and card_stat = '0'
        and a.idx = #{idx}
    </select>
</mapper>