<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<script>
    $(document).ready( () => {
        getSincardList();
    })
    
    function getSincardList(){
        $.ajax({
            url : '/getSincardList',
            method : 'post',
            contentType : "application/json; charset=UTF-8",
            data : null,
            success : function(data){
                $("#tbd").html('');
                for(let i = 0; i < data.length; i++){
                    $("#tbd").append(`
                        <tr>
                            <th>
                                <input type="hidden" value="${data[i].idx}"/>
                                ${i+1}
                            </th>
                            <td>${data[i].title}</td>
                            <td>${data[i].price}</td>
                            <td>${data[i].inday}</td>
                            <td>${data[i].contents}</td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="delcard(${data[i].idx})">삭제</button>
                                <br>
                                <button type="button" class="btn btn-success" onclick="updatecard(${data[i].idx})">수정</button>
                            </td>
                        </tr>
                    `)
                }
            }
        });
    }

    function delcard(index){
        let trueorfalse = confirm('삭제하시겠습니까?');
        if(trueorfalse){
            $.ajax({
                url : '/delSincard',
                method : 'post',
                contentType : "application/json; charset=UTF-8",
                data : JSON.stringify({
                    idx : index
                }),
                success : function(data){
                    if(data == 'OK'){
                        alert('삭제 성공');
                        getSincardList();
                    }else{
                        alert('삭제 실패');
                    }
                },
                error : function(err){
                    alert("에러\r\n"+err);
                }
            })
        }
    }

    function updatecard(index){
        let param = '?idx=' + index
        window.location = '/updateSincardData'+param
    }
</script>
<body>
    <div class="container">
        <h2>MENU</h2>
    </div>
    <div class="d-flex justify-content-center">
        <h2>MyCard List</h2>
    </div>
    <button type="button" class="btn btn-info" onclick="location.href='/addSincardData'">신용카드내역추가</button>
    <button type="button" class="btn btn-outline-info" onclick="location.href='/categoryList'">카테고리관리</button>
    <button type="button" class="btn btn-outline-info" onclick="location.href='/subcategoryList'">서브카테고리관리</button>
    <div class="d-flex justify-content-center">
        <h2>현재 사용량 : [[${totalprice}]]</h2>
    </div>
    <div class="d-flex justify-content-center">
        <select name="monthsel" id="monthsel">
            <option value="">---</option>
            <option th:each="mon : ${monthlist}" th:value="${mon}" th:text="${mon}+월"></option>
        </select>
    </div>
    <div class="d-flex justify-content-center">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th style="width: 10%;">No</th>
                    <th style="width: 25%;">사용내용</th>
                    <th style="width: 10%;">금액</th>
                    <th style="width: 25%;">날짜</th>
                    <th style="width: 20%;">비고</th>
                    <th style="width: 10%;">BTN</th>
                </tr>
            </thead>
            <tbody name="tbd" id="tbd">

            </tbody>
        </table>
    </div>
</body>
<style>
    td {word-break: break-all;word-wrap: break-word;}
</style>
</html>